.login-signup{
    max-width: 50px;
    margin: 0;
    padding: 0;
}
.carousel-inner{
    img{
        height: 300px;
        width: auto;
    }
}

.bg-first{
    background-color:#00E006;
}
.color-first{
    color:#00E006;
}
.bg-second{
    background-color: #d9721eee;
}
.color-second{
    color: #D9731E;
}
.bg-third{
    background-color:#3509D9;
}
.color-third{
    color:#3509D9;
}
.bg-tra{
    background-color:#d9092c70;
}